#jspsych-html-button-response-button-0 {
    margin:0px 40px !important;
   } 
#jspsych-html-button-response-button-1 {
    margin:0px 40px !important;
   }
#jspsych-html-button-response-button-2 {
    margin:0px 40px !important;
   } 

